<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Let's eat some burgers!!!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href=`https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css`>
</head>
<style>
    body {
        background-image: url(../../assets/Bobs.png);
        background-size: cover;
        color: white;
    }
</style>

<body>
    {{{ body }}}
</body>

</html>