<h1>It's Burgers Thyme!</h1>
<div class="row">
<div class="col-6", "leftSide">
    <h2>Burgers that you need to devour!</h2>

    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="col-6", "rightSide">

    <h2>Burgers that are devoured!</h2>

    <ul>
        {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burger-block devour=false}}
            {{/if}}
        {{/each}}
    </ul>
</div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="brgr">Add a Burger to the List:</label>
        <input type="text" id="brgr" name="burger_name">
    </div>
    <button type="submit">Add My Burger</button>
</form>